<!DOCTYPE html>
<html>
  <head>
    <title>Podcast Directory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>

    <!-- ===================== NAVBAR ===================== -->
   <nav class="navbar">
  <div class="nav-container">

    <a href="/" class="nav-logo">🎧 Podcasts</a>

    <ul class="nav-links">
      <li><%= link_to "Home", root_path, class: "nav-item" %></li>
      <li><%= link_to "Directory", podcasts_path, class: "nav-item" %></li>
      <li><%= link_to "About", about_path, class: "nav-item" %></li>
    </ul>

  </div>
</nav>

    <!-- ==================================================== -->

    <div class="main-content">
      <%= yield %>
    </div>

  </body>
</html>

